.carousel-container {
  width: 100%;
}

.carousel-main-image-wrapper {
  width: 100%;
  display: block;
  background-color: #f0f0f0;
  position: relative;
}

.carousel-main-image {
  width: 100%;
  aspect-ratio: 24/9;
  object-fit: cover;
  display: block;
}

.carousel-button {
  position: absolute;
  background-color: #fcce02;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 30px;
  transition: background-color 0.3s;
}

.carousel-button:hover {
  background-color: #fcce02be;
}

.carousel-button.prev {
  left: 10px;
  border-radius: 5px 0 0 5px;
  bottom: 0;
  right: 0;
}

.carousel-button.next {
  right: 10px;
  border-radius: 0 5px 5px 0;
}

.carousel-bullets {
  margin-top: 5px;
  display: flex;
  gap: 10px;
  justify-content: center;
}

.bullet {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ccc;
  cursor: pointer;
  transition: background-color 0.3s;
}

.bullet.active {
  background-color: #fcce02be;
}

.carousel-counter {
  text-align: center;
  font-size: 14px;
  color: #555;
  font-weight: bold;
}

.title {
  position: absolute;
  top: 0;
  left: 0;
  width: 25%;
  height: 100%;
  background-color: rgba(252, 206, 2, 0.7);
  padding: 10px;
  box-sizing: border-box;
}

.title h1 {
  color: #fff;
  font-size: clamp(1rem, 2.5vw, 2.5rem);
  margin: 0 0 0.5rem 0;
}

.title p {
  font-style: italic;
  font-size: clamp(0.75rem, 1.5vw, 1.25rem);
  margin: 0;
}
