:root {
  color: rgba(255, 255, 255, 0.87);
  background-color: #faf8f4;
  font-family: "Poppins", sans-serif;
}

h2 {
  font-size: 28px;
  font-weight: 600;
  color: #333;
}

p {
  color: #333;
}

body {
  margin: 0;
  padding: 0;
}
